<template>
    <div class="message"  :class="{ 'message--my': $parent.userId() == data.fromUser }">
        <div class="message__inn">
            <div class="message__text">
                <div v-html="$options.filters.nl2br(data.text)"></div>
                <div class="message__time">
                    {{ time_label }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Message',
        props: ['data'],
        data: function () {
            return {
                time_label: ''
            }
        },
        mounted: function () {
            this.time_label = moment.unix(this.data.timestamp).fromNow();
            setInterval(() => {
                this.time_label = moment.unix(this.data.timestamp).fromNow();
            }, 20000);
        }
    }
</script>