#app {
    position: relative;
    height: 100vh;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.logo__inn {
    display: table;
}

.logo__inn > * {
    display: table-cell;
    vertical-align: middle;
}

.logo img {
    max-height: 50px;
}

.logo__name {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-left: 15px;
}

.connection-lost {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 999999;
}

.connection-lost__inn {
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
}

.connection-lost .ui.steps {
    border: 0;
    text-align: left;
}
.connection-lost .ui.steps .step {
    background: #ff000b;
}
.connection-lost .ui.steps .step, .connection-lost .ui.steps .step .description {
    color: #ffffff;
}

.disconnect-user {
    color: #ff583d;
    margin-top: 20px;
}

.screen {
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen__icon {
    font-size: 120px;
}

.icon:before {
    vertical-align: text-bottom;
}

.screen__title {
    font-size: 18px;
    margin: 10px 0 15px;
}

.start-screen__inn {

}

.chat-header, .chat-message {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
}

.chat-header {
    top: 0;
}

.chat-header__inn {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.chat-header__inn > * {
    display: table-cell;
    vertical-align: middle;
    height: 65px;
}

.chat-header__logo {
    text-align: center;
}

.chat-header__online {
    text-align: left;
}

.chat-header__actions {
    text-align: right;
}

.chat-message {
    bottom: 0;
}

.chat-message__inn {
    display: table;
    width: 100%;
}

.chat-message__inn > * {
    display: table-cell;
    vertical-align: top;
}

.chat-message__input {
    font-size: 0;
}

.chat-message__btn {
    width: 1%;
    white-space: nowrap;
    padding-left: 15px;
}

.chat .chat-header {
    padding: 0 20px;
    text-align: right;
    background: #1B1C1D;
}



.chat .chat-history {
    background: #fff;
    padding: 90px 30px 170px;
    overflow-y: auto;
    height: 100vh;
}


.message {
    margin-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.message__inn {
    display: inline-block;
    position: relative;
    max-width: 70%;
    width: 100%;
}

.message__time {
    color: #a8aab1;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    left: 100%;
    white-space: nowrap;
    padding: 0 15px;
}

.message__text {
    display: inline-block;
    color: #fff;
    padding: 15px 20px;
    line-height: 1.4;
    font-size: 15px;
    border-radius: 1rem;
    background: #2D67FF;
    text-align: left;
    position: relative;
    word-break: break-all;
}

.message.message--my {
    text-align: right;
}

.message.message--my .message__time {
    left: auto;
    right: 100%;
}

.message.message--my .message__text {
    background: #f4f4f4;
    color: #555;
}


.chat .chat-message {
    background: #f3f3f3;
    padding: 15px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
    resize: none;
    height: 120px;
}

.chat .chat-message button {
    float: right;
    color: #fff;
    background: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
}

.chat .chat-message button:hover {
    background: #00B5AD;
}

.typing__dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    background-color: #fff;
    animation: 1.2s typing-dot ease-in-out infinite;
}

.typing__dot:nth-of-type(2) {
    animation-delay: 0.15s;
}

.typing__dot:nth-of-type(3) {
    animation-delay: 0.25s;
}

@keyframes typing-dot {
    15% {
        transform: translateY(-35%);
        opacity: 0.5;
    }
    30% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.modal {
    top: auto !important;
    margin-top: 5vh !important;
}